.back-to-the-future {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: pink url(download.jpeg);
}
.the-message {
  font: sans-serif;
}
